input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  @page :first {
    margin-bottom: 0;
  }
  
  body::after {
    content: none !important;
  }
}